 .girl {
     background-image: url('../images/girl.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    padding: 0;
    border: 0;
    background-color: transparent;
   margin: 0;
    cursor: pointer;
}
.smile{
    background-image: url('../images/smile.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    padding: 0;
    border: 0;
    background-color: transparent;
    margin: 0;
    cursor: pointer;
}